@use 'variables' as v;
@use 'mixins';

.modal-gallery {
    width: 560px;
    &__background {
        @include mixins.modal-background;
        place-content: center;
    }
    &__close-container {
        text-align: right;
        height: 30px;
    }
    &__close {
        width: 16px;
        &:hover {
            cursor: pointer;
            content: url(../images/icon-close-orange.svg);
        }
    }
    &__img-container {
        background-image: url(../images/image-product-1.jpg);
        height: 560px;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        position: relative;
    }
    &__thumnails {
        display: flex;
        justify-content: space-between;
        width: 500px;
        margin: auto;
    }
    &__thumnail {
        width: 100px;
        border-radius: 16px;
        &:hover {
            cursor: pointer;
            border: 1px solid v.$Orange;
        }
    }
    &__previous {
        @include mixins.img-btn(280px, -20px, true);
    }
    &__next {
        @include mixins.img-btn(280px, 540px, true);
    }
}
